<alert></alert>
<div *ngIf="!model.token" class="panel panel-warning medium-box">
    <div class="panel-heading">
        <h2 class="panel-title">Your link is not valid</h2>
    </div>
    <div class="panel-body">
        <p>Please make a new reset password request.</p>
        <button class="btn btn-warning" (click)="gotoForgotten()" type="button">Continue</button>
    </div>
</div>
<div *ngIf="model.token" class="panel panel-primary medium-box">
    <div class="panel-heading">
        <h2 class="panel-title">Reset password</h2>
    </div>
    <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': !formPassword.pristine && !formConfirm.pristine && formPassword.value != formConfirm.value }">
                <div *ngIf="!formPassword.pristine && !formConfirm.pristine && formPassword.value != formConfirm.value" class="help-block">Password and Confirm Password doesn't match</div>
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" placeholder="New Password" class="form-control" [(ngModel)]="model.password" #formPassword="ngModel" required >
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !formPassword.pristine && !formConfirm.pristine && formPassword.value != formConfirm.value }">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" class="form-control" [(ngModel)]="model.confirm" #formConfirm="ngModel" required >
            </div>
            <div class="form-group">
                <button [disabled]="loading || formConfirm.value != formPassword.value" class="btn btn-primary btn-block" type="submit">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    </div>
</div>
