<alert></alert>
<div class="panel panel-warning medium-box">
    <div class="panel-heading">
        <h2 class="panel-title">Your account isn't validated</h2>
    </div>
    <div class="panel-body">
        <p>Before using the application your account need to be validated.</p>
        <p>If you haven't receive the mail to validate your account, click the button below.</p>
        <button class="btn btn-info" (click)="sendValidationMail()" type="button">Send validation mail</button>
    </div>
</div>
