<div class="panel panel-primary medium-box">
    <div class="panel-heading">
        <h2 class="panel-title">Send reset password link</h2>
    </div>
    <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && sendResetLink()" #f="ngForm" class="form-inline">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !formEmail.valid }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="jane.doe@example.com" required [(ngModel)]="email" #formEmail="ngModel">
          </div>
          <button [disabled]="loading" type="submit" class="btn btn-default">Send</button>
        </form>
        <div *ngIf="f.submitted && !formEmail.valid" class="help-block">Email is required</div>
    </div>
</div>
