<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="#">GoMyInventory</a></div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
        <logged-user></logged-user>
    </div>
  </div>
</nav>
<!-- Main container -->
<div class="container">
   <router-outlet></router-outlet>
</div>
<footer class="footer">
   <div class="container"><p class="text-muted">2017 Fabien Bernard Inc</p></div>
</footer>
