<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="#">GoMyInventory</a></div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
          <p class="navbar-text">Fabien Bernard</p>
          <img src="http://www.gravatar.com/avatar/1fb11d331b087bbf87cd71456c48694c?rating=PG&size=40&default=mm" alt="gravatar" class="nav-logged" />
          <a class="btn btn-danger nav-logged" href="#" role="button">Sign out</a>
    </div>
  </div>
</nav>
<!-- Main container -->
<div class="container">
   <router-outlet></router-outlet>
</div>
<footer class="footer">
   <div class="container"><p class="text-muted">2017 Fabien Bernard Inc</p></div>
</footer>
