<div class="row">
    <div class="col-sm-7">
        <div class="jumbotron">
            <div class="container">
                <h1>GoChat</h1>
                <p>Manage your personnal collection:</p>
                <ul>
                    <li><a href="https://golang.org/">Golang</a></li>
                    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="https://angular.io/">Angular 4</a></li>
                    <li><a href="https://www.docker.com/">Docker</a></li>
                    <li><a href="https://caddyserver.com/">Caddy</a></li>
                </ul>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/NBR41" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <login-user *ngIf="user == null"></login-user>
</div>
