<h1>Hi, {{user.nickname}}</h1>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Add a book to your Collection</h3>
    </div>
    <div class="panel-body">
        <label>ISBN Code:</label> <input #isbn />
        <button (click)="addIsbn(isbn.value); isbn.value=''">Add</button>
    </div>
</div>
<div *ngIf="ownerships.length > 0" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Your Collection</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <th class="text-center">ID</th>
                <th class="text-center">NAME</th>
                <th class="text-center">ISBN</th>
                <th class="text-center">DELETE</th>
            </thead>
            <tbody>
                <tr *ngFor="let own of ownerships">
                    <td>{{own.book.id}}</td>
                    <td>{{own.book.name}}</td>
                    <td>{{own.book.isbn}}</td>
                    <td><button class="btn btn-default" (click)="delete(own.book.id); $event.stopPropagation()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
